html
  font-family -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", HelveticaNeue-Light, "Noto Sans", "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "Source Han Sans SC", "Source Han Sans CN", "Source Han Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Noto Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  font-size 62.5%
  text-size-adjust 100%
  touch-action manipulation

body
  font-size 1.5rem
  line-height 1.6
  position fixed
  display flex
  overflow hidden
  width 100%
  min-width 320px
  height 100%
  margin 0
  user-select none
  color #fff
  align-items center
  -webkit-tap-highlight-color transparent
  -webkit-font-smoothing antialiased

header,
footer,
main
  display block

audio,
progress
  display inline-block
  vertical-align baseline

audio:not([controls])
  display none
  height 0

:before,
:after
  box-sizing border-box

[hidden],
template
  display none

a,
a:before,
a:after
  cursor pointer
  transition all .2s ease-in-out
  text-decoration none
  color inherit
  background-color transparent

a:active,
a:hover,
a:focus
  text-decoration underline
  color alpha(#fff, .5)
  outline 0

p
  display block
  margin 0
  white-space pre-wrap
  word-wrap break-word

img
  max-width 100%
  border 0
  -webkit-touch-callout none

svg:not(:root)
  overflow hidden

ul,
ol
  margin 0
  padding 0

ul
  list-style none

::-webkit-scrollbar
  width 8px
  height 8px
  &-track-piece
    background-color transparent
  &-thumb
    border 0
    border-radius 5px
  &-thumb:vertical:hover,
  &-thumb:horizontal:hover
    background-color alpha(#fff, .3)
  &-thumb:vertical
    background-color alpha(#fff, .2)
  &-thumb:horizontal
    background-color alpha(#fff, .2)
